{% extends 'registration/logbase.html' %}
{% block login %}
    <h3 class="login-heading mb-4">Welcome back!</h3>
    <form method="post" class="form-signin">
        {% csrf_token %}
        <div class="form-label-group">
            <input type="text" name="username" id="inputUser" class="form-control"
                   placeholder="Username" required autofocus>
            <label for="inputUser">Username</label>
        </div>

        <div class="form-label-group">
            <input type="password" name="password" id="inputPassword" class="form-control"
                   placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>
        <button class="btn btn-lg btn-danger btn-block btn-login text-uppercase font-weight-bold mb-2"
                type="submit">Sign in
        </button>
        <hr class="my-4">
        <div class="text-center">
            <a class="small" href="{% url 'password_reset' %}">Forgot password?</a></div>

    </form>
{% endblock login %}
