{% extends 'registration/logbase.html' %}
{% block password_confirm %}
    <h3 class="login-heading mb-4">Reset your password</h3>
    <form method="post">
        {% csrf_token %}
        <div class="form-label-group">
            <input type="password" name="new_password1" id="new_pass1" class="form-control"
                   placeholder="New password" required autofocus>
            <label for="new_pass1">New password</label>
        </div>
        <div class="form-label-group">
            <input type="password" name="new_password2" id="new_pass2" class="form-control"
                   placeholder="New password confirmation" required autofocus>
            <label for="new_pass2">New password confirmation</label>
        </div>
        <button class="btn btn-lg btn-danger btn-block btn-login text-uppercase font-weight-bold mb-2"
                type="submit">Save new password
        </button>
    </form>
{% endblock password_confirm %}