{% extends 'registration/logbase.html' %}
{% block password_reset %}
    <h3 class="login-heading mb-4">Forgot Password?</h3>
    <form method="post">
        {% csrf_token %}
        <div class="form-label-group">
            <input type="email" name="email" id="inputEmail" class="form-control"
                   placeholder="E-mail" required autofocus>
            <label for="inputEmail">E-mail</label>
        </div>
            <button class="btn btn-lg btn-danger btn-block btn-login text-uppercase font-weight-bold mb-2"
                    type="submit">Reset password
            </button>
    </form>
{% endblock password_reset %}