{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="text-center hiragana-bg" style="padding-top: 15vh">
    <div class="card-header">
        <p class="try-font-title">List of unlocked levels</p>
        <div class="container">
            <div class="container row justify-content-around">
                <p class="btn btn-outline-danger extend-signs" style="font-size: calc(1vh + 1vw)">Signs</p>
                {% if perms.Hiragana.greetings %}
                    <p class="btn btn-outline-danger extend-words" style="font-size: calc(1vh + 1vw)">Words</p>
                {% else %}
                    <div class="text-muted">
                    <p class="btn btn-outline-danger disabled" data-toggle="popover"
                            data-trigger="hover"
                            data-content="Unlocks after 25 exercises">Words
                    </p>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="container row justify-content-around">
                <div id="levels-signs" class="padd-3" style="display: none">
                    <div class="extend-content">
                        <a href="{% url 'easy' %}" class="btn btn-outline-danger" data-toggle="popover"
                           title="Basic" data-trigger="hover"
                           data-content="Basic signs, every five exercises you unlock new level">Easy
                            Level</a>
                    </div>
                    {% if perms.Hiragana.medium_level %}
                        <div class="padd-3 extend-content">
                            <a href="{% url 'medium' %}" class="btn btn-outline-danger" data-toggle="popover"
                               title="Advanced" data-trigger="hover" data-content="Advanced signs">Medium Level</a>
                        </div>
                    {% endif %}
                    {% if perms.Hiragana.hard_level %}
                        <div class="padd-3 extend-content">
                            <a href="{% url 'hard' %}" class="btn btn-outline-danger" data-toggle="popover"
                               title="Intermediate" data-content="Last pieces of signs" data-trigger="hover">Hard
                                Level</a>
                        </div>
                    {% endif %}
                    {% if perms.Hiragana.diacritics %}
                        <div class="padd-3 extend-content">
                            <a href="{% url 'diacritics' %}" class="btn btn-outline-danger" data-toggle="popover"
                               title="Diacritics" data-trigger="hover"
                               data-content="Diacritic signs most often used in the Japanese kana">Diacritics</a>
                        </div>
                    {% endif %}
                    {% if perms.Hiragana.mixed_level %}
                        <div class="padd-3 extend-content">
                            <a href="{% url 'mixed' %}" class="btn btn-outline-danger" data-toggle="popover"
                               title="Every single sign of Hiragana" data-trigger="hover"
                               data-content="More challenging, requires 10 signs to complete. Everything included">Mixed
                                Level</a>
                        </div>
                    {% endif %}
                </div>
                {% if perms.Hiragana.greetings %}
                    <div id="levels-words" class="padd-3" style="display: none">
                        <div class="extend-content">
                            <a href="{% url 'greetings' %}" class="btn btn-outline-danger">Greetings</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
