{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card text-center">
  <div class="card-header">
    Welcome, {{ stats.user }}
  </div>
  <div class="card-body">
    <h5 class="card-title">Exercises done:</h5>
    <p class="card-text">{{ stats.completed }}</p>
  </div>
  <div class="card-footer text-muted" id="hiragana">
    <a href="{% url 'hiragana' %}" class="btn btn-outline-danger">Hiragana</a>
  </div>
    <div class="card-footer text-muted" id="katakana">
    <a href="{% url 'medium' %}" class="btn btn-primary btn-outline-danger disabled">Katakana</a>
  </div>
    <div class="card-footer text-muted " id="kanji">
    <a href="{% url 'hard' %}" class="btn btn-primary btn-outline-danger disabled">Kanji</a>
  </div>
</div>
{% endblock content %}