{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="home-bg">
        <div class="text-center" style="padding-top: 15vh">
            <div class="card-header home-text">
                Welcome, {{ request.user }}<br>
                <p style="font-size: calc(1vh + 1vw)">Which alphabet do you want to learn today?</p>
            </div>
            <div class="padd-3">
                <div class="padd-3" id="hiragana">
                    <a href="{% url 'hiragana' %}" class="btn btn-outline-danger btn-lg">Hiragana</a>
                </div>
                <div class="text-muted padd-3">
                    <button class="btn btn-primary btn-outline-danger disabled btn-lg" data-toggle="popover"
                            data-trigger="hover"
                            data-content="Coming Soon">Katakana
                    </button>
                </div>
                <div class="text-muted padd-3">
                    <button class="btn btn-primary btn-outline-danger disabled btn-lg" data-toggle="popover"
                            data-trigger="hover"
                            data-content="Coming Soon">Kanji
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}