{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memorize Japanese</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<nav class="navbar navbar-dark bg-danger">
    <div class="container">
        <a class="navbar-brand" href="{% url 'landing-page' %}">Home</a>
        <a class="navbar-brand" href="{% url 'home' %}">Dashboard</a>
    </div>
</nav>
<body>
<br>
<div class="container">
    <div class="card-columns">
        <div class="card">
            <img src="{% static 'img/hiragana.png' %}" class="card-img-top" alt="hiragana">
            <div class="card-body ">
                <h5 class="card-title">Hiragana</h5>
                <p class="card-text">One component of the Japanese writing system, along with katakana, kanji. It is
                    a phonetic lettering system. The word hiragana literally means "ordinary" or "simple"</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/katakana.png' %}" class="card-img-top" alt="katakana">
            <div class="card-body">
                <h5 class="card-title">Katakana</h5>
                <p class="card-text">The word katakana means "fragmentary kana", as the katakana characters are derived
                    from components or fragments of more complex kanji. Katakana and hiragana are both kana systems.</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/kanji.png' %}" class="card-img-top" alt="kanji">
            <div class="card-body">
                <h5 class="card-title">Kanji</h5>
                <p class="card-text">Adopted logographic Chinese characters that are used in the Japanese writing
                    system. They are used alongside the Japanese syllabic scripts hiragana and katakana.</p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Try Japanese</h1>
        <p class="lead">Learn new language with simple memorize game, sorted by levels</p>
        <br>
        <a href="{% url 'signup' %}">
            <button class="btn btn-outline-danger"><h2>Sign up</h2></button>
        </a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<footer class="bottom">
    <div class="footer-copyright text-center py-3 bg-danger">
        <a href="https://github.com/zooyl" target="_blank" class="text-white">GitHub</a>
    </div>
</footer>
</body>
</html>