{% extends 'base.html' %}
{% block content %}
    <div class="leaderboard-bg">
        <div class="container" style="padding-top: 15vh">
            <table class="table table-hover table-dark hov-home">
                <thead>
                <tr class="bg-danger">
                    <th scope="col">Place</th>
                    <th scope="col">User</th>
                    <th scope="col">Completed exercises</th>
                    <th scope="col">Attempts</th>
                </tr>
                </thead>
                {% for stats in stat %}
                    <tbody class="bg-danger">
                    <tr>
                        <th scope="row">{{ forloop.counter0|add:stat.start_index }}</th>
                        <td>{{ stats.user.username }}</td>
                        <td>{{ stats.completed }}</td>
                        <td>{{ stats.attempts }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
            <div class="text-center">
                {% if stat.has_previous %}
                    <a class="btn btn-outline-danger mb-4" href="?page={{ stat.previous_page_number }}">« Previous</a>
                    {% if stat.number > 3 %}
                        <a class="btn btn-outline-danger mb-4" href="?page=1">1</a>
                        {% if stat.number > 4 %}
                            <button class="btn btn-outline-danger mb-4" disabled="">...</button>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% for num in stat.paginator.page_range %}
                    {% if stat.number == num %}
                        <a class="btn btn-danger mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > stat.number|add:'-3' and num < stat.number|add:'3' %}
                        <a class="btn btn-outline-danger mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if stat.has_next %}
                    {% if stat.number < stat.paginator.num_pages|add:'-3' %}
                        <button class="btn btn-outline-danger mb-4" disabled="">...</button>
                        <a class="btn btn-outline-danger mb-4"
                           href="?page={{ stat.paginator.num_pages }}">{{ stat.paginator.num_pages }}</a>

                    {% elif stat.number < stat.paginator.num_pages|add:'-2' %}
                        <a class="btn btn-outline-danger mb-4"
                           href="?page={{ stat.paginator.num_pages }}">{{ stat.paginator.num_pages }}</a>

                    {% endif %}
                    <a class="btn btn-outline-danger mb-4" href="?page={{ stat.next_page_number }}">Next »</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}