{% extends "base.html" %}
{% block content %}
    <div class="leaderboard-bg">
        <div class="container" style="padding-top: 15vh">
            <table class="table table-hover table-dark hov-home">
                <thead>
                <tr class="bg-danger">
                    <th scope="col">Place</th>
                    <th scope="col">User</th>
                    <th scope="col">Completed exercises</th>
                    <th scope="col">Attempts</th>
                </tr>
                </thead>
                {% for users in user %}
                    <tbody class="bg-danger">
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ users.user.username }}</td>
                        <td>{{ users.completed }}</td>
                        <td>{{ users.attempts }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
            <div class="pagination">
                <span class="step-links">
                    {% if user.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ user.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ user.number }} of {{ user.paginator.num_pages }}.
                    </span>

                    {% if user.has_next %}
                        <a href="?page={{ user.next_page_number }}">next</a>
                        <a href="?page={{ user.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
{% endblock %}