{% extends "base.html" %}
{% block content %}
    <div class="container">
        <p>Selected signs:</p>
        <p>{% for i in shuffle %}</p>
            <h1 class="display-6">{{ i.memo.sign }}</h1>
        {% endfor %}
        <form method="POST">
        {% csrf_token %}
            <p>CHOOSEN:</p>
            <h1 class="display-2">{{ question.memo.sign }}</h1>
{#            <h1 class="display-2">{{ question.memo.pronunciation }}</h1>#}
            {% for j in shuffle %}
                <input type="submit" name="pronunciation" value="{{ j.memo.pronunciation }}">
            {% endfor %}
            <input type="hidden" name="answer" value="{{ question.memo.pronunciation }}">
        </form>
    {{ wrong }}
    </div>
{% endblock %}