{% extends 'base.html' %}
{% block content %}
    <div class="sign-bg">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content text-center">
                    <div class="modal-header d-flex justify-content-center">
                        <h5 class="heading">Great job</h5>
                    </div>
                    {% if request.user.stats.completed == 25 %}
                        <div class="modal-body">
                            <p>You have unlocked Katakana</p>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <a href="{% url 'katakana' %}" class="btn btn-outline-danger">Katakana</a>
                        </div>
                    {% elif request.user.stats.completed|divisibleby:5 %}
                        <div class="modal-body">
                            <p>You have unlocked new level</p>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <a href="{% url 'home' %}" class="btn btn-outline-danger">Exit</a>
                        </div>
                    {% else %}
                        <div class="modal-body">
                            <p>You have completed this exercise.</p>
                            <p>Do you want to exit or continue?</p>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <a href="{% url 'home' %}" class="btn btn-outline-danger">Exit</a>
                            <a href="{{ request.get_full_path }}" class="btn btn-outline-danger">Continue</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
